<head>
    <title>.NET Conf - Thailand</title>
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-eval' 'unsafe-inline' https: http:; img-src https: 'self'; font-src https: http: 'self'"
    />
    <meta charset="UTF-8" />
    <meta name="description" content=".NET Conf Thailand - Learn about DevOps, Cloud and .NET" />
    <meta name="keywords" content="dotnet, .NET, conference, Thailand" />
    <meta name="author" content=".NET Conf Thailand" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="/assets/img/logo.png" type="image/png" />

    <link
        href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900"
        rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendors/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/animate.css" />

    <link rel="stylesheet" href="/vendors/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/vendors/magnific-popup.css" />

    <link rel="stylesheet" href="/vendors/aos.css" />

    <link rel="stylesheet" href="/vendors/ionicons.min.css" />

    <link rel="stylesheet" href="/vendors/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/vendors/jquery.timepicker.css" />

    <link rel="stylesheet" href="/vendors/flaticon.css" />
    <link rel="stylesheet" href="/vendors/icomoon.css" />

    <link rel="stylesheet" href="/assets/{{page.year}}/css/style.css" />
</head>
