---
layout: "2019"
year: "2019"
---

{% capture section_style %} /assets/img/{{page.year}}/home/section-style.png {%
endcapture %}

<section class="section-margin mb-5 pb-5" id="agenda">
    <div class="container">
        <div class="section-intro text-center pb-98px">
            <p class="section-intro__title">Join the event</p>
            <h2 class="primary-text">Conference Agenda</h2>
            <img src="{{ section_style }}" alt="" />
        </div>

        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="scheduleTab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item text-center">
                            <a class="active" data-toggle="tab" href="#day1">
                                <h4>26 October, 2019</h4>
                                <p>8:00 - 18:00</p>
                                <p>Microsoft (Thailand)</p>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="day1" class="tab-pane active">
                            {% assign sessions = site.data.data-2019.sessions %}
                            {% for session in sessions %}
                            <div class="schedule-card">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        {% for speaker in session.speakers %}
                                        <div class="card-identity">
                                            <img
                                                src="/assets/img/{{page.year}}/speakers/{{ speaker | split: ' ' | first | strip | downcase }}.jpg"
                                                alt="{{ speaker }}"
                                            />
                                            <h3>{{ speaker }}</h3>
                                            <p></p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-9 align-self-center">
                                        <div class="schedule-content">
                                            <p class="schedule-date h2">
                                                {{ session.time }}
                                            </p>
                                            <a class="schedule-title">
                                                <h3>{{ session.title }}</h3>
                                            </a>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ PriceTable section Start =================-->
<section class="section-padding bg-gray">
    <div class="container">
        <div class="section-intro text-center pb-98px">
            <p class="section-intro__title">Join the event</p>
            <h2 class="primary-text">Get Your Ticket</h2>
            <img src="{{ section_style }}" alt="" />
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 mb-6 mb-lg-0 align-self-center">
                <div class="text-center card-priceTable">
                    <div class="priceTable-header">
                        <h3>Free Ticket</h3>
                        <p>Attend only first day</p>
                        <h1 class="priceTable-price"><span>฿</span> 00.00</h1>
                    </div>
                    <div class="priceTable-footer">
                        <a
                            class="button"
                            href="https://dotnetconfth2019.eventbrite.com/?aff=dotnetconfsite"
                            target="_blank"
                        >
                            FREE TICKETS
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ PriceTable section End =================-->
