<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card-speaker">
        <img class="card-img rounded-0"
            src="/assets/img/{{page.year}}/speakers/{{ include.name | split: ' ' | first | strip | downcase }}.jpg"
            alt="{{ include.name }}">
        <div class="speaker-footer">
            <h4>{{ include.name }}</h4>
            <p>{{ include.position }}</p>
        </div>
        <div class="speaker-overlay">
            <ul class="speaker-social">
                {% if include.linkedin %}
                <li>
                    <a href="https://www.linkedin.com/in/{{ include.linkedin }}" target="_blank">
                        <i class="ti-linkedin"> </i>
                    </a>
                </li>
                {% endif %}

                {% if include.github %}
                <li>
                    <a href="https://github.com/{{ include.github }}" target="_blank">
                        <i class="ti-github"> </i>
                    </a>
                </li>
                {% endif %}

                {% if include.website %}
                <li>
                    <a href="{{ include.website }}" target="_blank">
                        <i class="ti-rss-"></i>
                    </a>
                </li>
                {% endif %}

                {% if include.youtube %}
                <li>
                    <a href="https://www.youtube.com/user/{{ include.youtube }}" target="_blank">
                        <i class="ti-youtube"> </i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
