---
layout: "2019"
year: "2019"
---

<section class="speaker-bg section-padding" id="speakers">
    <div class="container">
        <div class="section-intro section-intro-white text-center pb-98px">
            <p class="section-intro__title">Join the event</p>
            <h2 class="primary-text">Meet The Speakers</h2>
            <img
                src="/assets/img/{{page.year}}/home/section-style.png"
                alt=""
            />
        </div>

        <!-- KEYNOTE -->

        {% comment %} I am trying to get find work but it does not work when
        deploy to github page. {% endcomment %} {% assign keynote =
        site.data.data-2019.speakers | where_exp: "item", "item.keynote == true"
        | first %}
        <div class="row justify-content-md-center">
            {% include_relative speaker-list-item.html name=keynote.name
            position=keynote.position linkedin=keynote.linkedin %}
        </div>

        <!-- SPEAKERS -->
        {% assign speakers = site.data.data-2019.speakers | where_exp: "item",
        "item.keynote != true" %}
        <div class="row">
            {% for speaker in speakers %} {% include_relative
            speaker-list-item.html name=speaker.name position=speaker.position
            linkedin=speaker.linkedin github=speaker.github
            website=speaker.website youtube=speaker.youtube %} {% endfor %}
        </div>
    </div>
</section>
