---
---
{% comment %}
TODO:
Style sponsor border with Sass
{% endcomment %}

{% capture section_style %}
/assets/img/{{page.year}}/home/section-style.png
{% endcapture %}
<section class="section-padding--small sponsor-bg" id="sponsors">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <p class="section-intro__title">Sponsorship</p>
            <h2 class="primary-text">Event Plan Sponsors</h2>
            <img src="{{ section_style }}" alt="">
        </div>

        <div class="sponsor-wrapper mb-5 pb-4">
            <h3 class="sponsor-title mb-5" style="color: #CFB53B">Gold Sponsors</h3>
            <div class="row">
                {% for sponsor in site.data.data-2019.sponsors.gold_sponsors %}
                <div class="col-12 col-md-4 mb-3">
                    <a href="{{ sponsor.website_url }}?ref=dotnetconfthailand" target="_blank">
                        <div>
                            <img class="img-fluid" style="width: 90%"
                                src="/assets/img/{{page.year}}/sponsors/{{ sponsor.name | replace: ' ', '-' | strip | downcase }}.png"
                                alt="{{ sponsor.name }}">
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="sponsor-wrapper mb-1 pb-4">
            <h3 class="sponsor-title mb-5" style="color: #808080">Silver Sponsors</h3>
            {% assign numberOfItemsPerRow = 3.0 %}
            {% assign numberOfRows = site.data.data-2019.sponsors.silver_sponsors | size | divided_by: numberOfItemsPerRow | ceil %}
            {% assign maxRowIndex = numberOfRows | minus: 1 %}
            {% for rowIndex in (0..maxRowIndex) %}
            {% assign offsetValue = rowIndex | times: numberOfItemsPerRow %}
            <div class="row">
                {% for sponsor in site.data.data-2019.sponsors.silver_sponsors offset: offsetValue limit: numberOfItemsPerRow %}
                <div class="col-12 col-md-4 mb-3">
                    <a href="{{ sponsor.website_url }}?ref=dotnetconfthailand" target="_blank">
                        <div>
                            <img class="img-fluid"
                                src="/assets/img/{{page.year}}/sponsors/{{ sponsor.name | replace: ' ', '-' | strip | downcase }}.png"
                                alt="{{ sponsor.name }}">
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div class="sponsor-wrapper mb-5 sponsor-wrapper--small">
            <h3 class="sponsor-title mb-5" style="color: #e83e8c">Partners</h3>
            {% assign numberOfItemsPerRow = 3.0 %}
            {% assign numberOfRows = site.data.data-2019.sponsors.partners | size | divided_by: numberOfItemsPerRow | ceil %}
            {% assign maxRowIndex = numberOfRows | minus: 1 %}
            {% for rowIndex in (0..maxRowIndex) %}
            {% assign offsetValue = rowIndex | times: numberOfItemsPerRow %}
            <div class="row">
                {% for sponsor in site.data.data-2019.sponsors.partners offset: offsetValue limit: numberOfItemsPerRow %}
                <div class="col-12 col-md-4 mb-3">
                    <a href="{{ sponsor.website_url }}?ref=dotnetconfthailand" target="_blank">
                        <div>
                            <img class="img-fluid"
                                src="/assets/img/{{page.year}}/sponsors/{{ sponsor.name | replace: ' ', '-' | replace: '.', '' | strip | downcase }}.png"
                                alt="{{ sponsor.name }}">
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
        <div class="sponsor-wrapper sponsor-wrapper--small">
            <h3 class="sponsor-title mb-5">Want to be Sponsor?</h3>
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <a class="button mb-2" href="mailto:kidchenko@gmail.com">CONTACT US!</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>or email to: </p>
                    <p class="h4 primary-text2 mb-3">kidchenko@gmail.com</p>
                </div>
            </div>
        </div>

</section>
