---
# Still don't know why we can use value from config default in GitHub page
# It is possible that github use older version
year: 2020
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {% include {{layout.year}}/head.html %}

    <body>
        {% include {{layout.year}}/header.html %}
        <div>
            {{ content }}
        </div>
        {% include {{layout.year}}/footer.html %} {% include
        {{layout.year}}/foot.html %}
    </body>
</html>
