---
# Still don't know why we can use value from config default in GitHub page
# It is possible that github use older version
year: 2019

---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{% include head.html %}

<body>
    {% include {{layout.year}}/header.html %}
    <div>
        {{ content }}
    </div>
    {% include {{layout.year}}/footer.html %}
    {% include foot.html %}
    {% comment %}
    <ul>
        <li>
            year {{ year }}
        </li>
        <li>
            page.year {{ page.year }}
        </li>
        <li>
            site.year {{ site.year }}
        </li>
        <li>
            layout.year {{ layout.year }}
        </li>
    </ul>
    {% endcomment %}
</body>
