<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <a class="navbar-brand logo_h" href="/"><img src="/assets/img/{{page.year}}/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item active"><a class="nav-link" href="/{{page.year}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/{{page.year}}/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/{{page.year}}/speakers">Speakers</a></li>
                        <li class="nav-item"><a class="nav-link" href="/{{page.year}}/agenda">Agenda</a></li>
                        <li class="nav-item"><a class="nav-link" href="/{{page.year}}/sponsors">Sponsors</a></li>
                        <li class="nav-item"><a class="nav-link" href="/{{page.year}}/location">Location</a></li>
                        <li class="nav-item"><a class="nav-link" href="/{{page.year}}/summary">Summary</a></li>
                        <li class="nav-item"><a class="nav-link" href="/2018" target="_blank">.NET Conf 2018</a>
                        </li>

                    </ul>
                    <ul class="nav-right text-center text-lg-right py-4 py-lg-0">
                        <li><a href="https://dotnetconfth2019.eventbrite.com/?aff=dotnetconfsite" target="_blank">FREE
                                TICKETS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
